---
layout: layout.liquid
title: Polaroid Cloud
---
<main>
    <section class="hero">
        <h2>FILM TO PHONE</h2>
    </section>
    <section class="details">
        <h2>Any cloud, anytime.</h2>
        <p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you’ve come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>
        <h2>Easy, cheesy!</h2>
        <ul>
            <li class="wifi">Connect your Polaroid to a WiFi network</li>
            <li class="cloud">Configure your favorite cloud</li>
            <li class="qr">Point, shoot, and print your QR-tagged photo</li>
            <li class="pics">Share your physical and digital photos with friends and family</li>
        </ul>
    </section>
    {% include 'subscribe_form.liquid' %}
</main>
