<section class="subscribe">
    <h2>Be the first to know.</h2>
    <form class="subscribe-form">
        <input type="email" placeholder="Enter your email address to receive updates" required>
        <button class="btn" type="submit">KEEP IN TOUCH</button>
    </form>
</section>